@import "tailwindcss";

:root {
  font-family: Avenir, Helvetica, Arial,  system-ui, sans-serif;
  font-family: 'PT Sans', Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  line-height: 1.1;
  font-family: Consolas, monospace;
  font-size: clamp(2rem, 5vw, 3rem);
}

button {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}
button:hover {
  border-color: rgb(203, 203, 89);
  color: rgb(203, 203, 89);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

p {
  text-align: justify;
}

.bg-radial {
  background: radial-gradient(circle, #2b2680, #4f46e5, #6a58a0, #a78bfa, #60a5fa);
  background-size: 400% 400%;
}

span {
  font-weight: 600;
  color: rgb(242, 242, 134)
}

.tech-tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  width: fit-content;
  padding: 0.25rem 0.5rem;
  border-radius: 9999px;
  background-color: rgba(35, 39, 47, 0.7);
}

.selectLang {
  background-color: #0a1a44;
}

.light {
  body {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    border-color:#213547;
  }
  button:hover {
    border-color: #2f3499;
    color: #2f3499;
  }
  .bg-radial {
    background: radial-gradient(circle, #e0dff8, #bab7e7, #faf9ff, #a78bfa, #dfeeff);
    background-size: 400% 400%;
  }
  span {
    font-weight: 600;
    color: #2f3499;
  }
  .tech-tag {
    background-color: rgba(35, 39, 47, 0.2);
  }
  .selectLang {
    background-color: #8481ac;
  }
}


@keyframes radial-move {
  0% { background-position: 50% 50%; }
  50% { background-position: 60% 60%; }
  100% { background-position: 50% 50%; }
}

.animate-radial {
  animation: radial-move 15s ease infinite;
}
